[general]
debug = "info"

# worker_type must be one of "releasing" or "recording"
# if you use type "recording", you can omit all other sections
# except for C3Tracker
worker_type = "releasing"

[C3Tracker]
group = "<group>"
#only set host if you don"t wont to use local machine name
host = "my-machine-name"
secret = "<secret>"
url = "<tracker url>"

[download.workers]
# list all available download tools here. Use whatever you want, as long
# as it supports directly downloading to a specific file name.
python = true # the value of this does not matter
wget = ["wget", "-q", "-O", "--TARGETPATH--", "--", "--DOWNLOADURL--"]

# "enable_default" below specifies the behaviour if the `Publishing.<service>.Enable`
# property is missing in a ticket. If "yes", using the service is enabled,
# otherwise it"s disabled.
[voctoweb]
enable_default = false
# e.g. https://exmaple.com/api/ - with trailing slash
api_url = "<voctoweb api url>"
api_key = "<voctoweb key>"
# url your frontend is reachable on, used to build urls in tweets / toots - no trailing slash
frontend_url = "<voctoweb frontend url>"
# instance name is the name you refer to you"re instead with, its used for the tweets / toots
instance_name = "<voctoweb instance name>"
ssh_host = "<host to release files to>"
ssh_port = "<ssh port on the release host>"
ssh_user = "<ssh user on the release host>"

[youtube]
enable_default = false
secret = "<youtube-api-secret>"
client_id = "<youtube-client-id>"

[twitter]
enable_default = false
token = "<user token>"
token_secret = "<user secret>"
consumer_key = "<consumer key>"
consumer_secret = "<consumer secret>"

[mastodon]
enable_default = false
api_base_url = "https://mastodon.social" # no trailing slash
email = "<loginemail>"
password = "<password>"

[bluesky]
enable_default = false
username = "<username>"
app_password = "<app password>"

[rclone]
enable_default = false
exe_path = "/path/to/rclone/binary"
config_path = "/path/to/rclone/config"
